<section>
  <div class="row">
    <h2> Who to follow </h1>
  </div>
  <div class="row">
    <div class="col-4">
    <h4>IMG</h4>
    </div>
    <div class="col-8">
      <span>Name username</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    <h4>IMG</h4>
    </div>
    <div class="col-8">
      <span>Name username</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    <h4>IMG</h4>
    </div>
    <div class="col-8">
      <span>Name username</span>
    </div>
  </div>
  
  </div>
</section>