<section class="container">
  <div class="row">
    <!-- TRENDING -->
    <div class="col-lg-3 col-sm-12">
      <%= render 'trends' %>
    </div>

    <!-- NEW BURN -->
    <div class="col-lg-6 col-sm-12">
      <%= render 'form', burn: @burn %>
      <%= render 'feed', burn: @burns %>
    </div>

    <!-- WHO TO FOLLOW -->
    <div class="col-lg-3 col-sm-12">
      <%= render 'who_to_follow' %>
    </div>
  </div>
</section>
