<section class="container">
  <div class="row">
    <!-- TRENDING -->
    <div class="col-4">
      <h1>col1</h1>
    </div>

    <!-- NEW BURN -->
    <div class="col-4">
      <div class="row w-100">
        <%= render 'form', burn: @burn %>
      </div>
      <%= render 'feed', burn: @burns %>
      

    </div>

    <!-- WHO TO FOLLOW -->
    <div class="col-4">
      <h1>col3</h1>
    </div>
  </div>
</section>
